*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper div{
border: solid 5px blue;
display:grid;
justify-content: center;
background-color: blanchedalmond;
}

.wrapper img{
  height: 150px;
  width: 100px;
}

.wrapper h1{
  color: blue;
  text-decoration: underline;
}